.header {
    height: 80px;
    width: 100vw;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 2px solid #18817C;

    .logo {
        width: 210px;
        display: flex;
        justify-content: space-between;


        .brand-name {
            font-size: 18px;
            font-weight: 500;
            margin-left: 10px;
        }

        .toggle-left-sidebar {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            gap: 2px;

            span {
                width: 30px;
                background: #000;
                height: 4px;
            }
        }
    }

    .toolbar {
        padding: 10px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;

        .theme {
            display: flex;
            gap: 6px;

            img {
                width: 50px;
                cursor: pointer;
            }
        }

        .language select {
            padding: 8px 10px;
            outline: 0;
            border-radius: 4px;
        }
    }

}

@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        height: auto;
        padding-top: 10px;
    }

    .header .logo {
        width: 90%;
    }

    .header .toolbar .language {
            width: 100%;
    }
}