.right-sidebar {
    width: 210px;
    height: calc(100vh - 82px);
    background: #fff;
    transition: all ease-in-out .3s;
    overflow: auto; 
    position: absolute;
    right: 0;
    z-index: 99999;
    transition: all ease-in-out .3s;

    .title {
        text-align: center;
        margin-top: 20px;
    }

    li {
        opacity: 1;
        list-style: none;
        padding: 10px;
        color: #18817C;
        cursor: pointer;
        transition: all ease-in-out .3s;
    }

    li:hover {
        background: #18817C;
        color: #fff;
        transition: all ease-in-out .3s;
    }

    li.active {
        background: #18817C;
        color: #fff;
    }
}

.toggle-right-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    gap: 4px;
    position: absolute;
    right: 0px;
    top: 80px;
    z-index: 999999;
    background: #fff;
    padding: 5px;
    box-shadow: 1px 1px 17px 1px #ccc;

    span {
        width: 30px;
        background: #000;
        height: 4px;
    }
}

.right-sidebar.hide {
    width: 0px;
    transition: all ease-in-out .3s;
}

.right-sidebar.hide .toggle-right-sidebar {
    position: absolute;
    right: 0px;
}