.left-sidebar {
    width: 210px;
    height: calc(100vh - 82px);
    background: #18817C;
    transition: all ease-in-out .3s;
    overflow: auto;

    li {
        opacity: 1;
        list-style: none;
        padding: 10px;
        color: #fff;
        cursor: pointer;
        transition: all ease-in-out .3s;
    }

    li:hover {
        background: #fff;
        color: #18817C;
        transition: all ease-in-out .3s;
    }

    li.active {
        background: #fff;
        color: #18817C;
    }

    
}

.left-sidebar.toggled {
    width: 0px;
    transition: all ease-in-out .3s;
}

.left-sidebar.toggled li {
    opacity: 0;
    transition: all ease-in-out .3s;
}