@import url("~leaflet/dist/leaflet.css");

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.leaflet-tooltip {
  position: absolute;
  padding: 6px;
  background-color: transparent;
  border-radius: 0px;
  color: #222;
  font-weight: 500;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  box-shadow: none;
  border: none;
}

.card-popup {
  width: 350px;
  .card-header {
    width: 100%;
    text-align: center;
    background-color: #eaeaea;
    padding: 10px 0px;
  }

  .card-body {
    padding: 6px;

    table {
      border-collapse: collapse;
      width: 100%;
    }
    table th,
    table td {
      padding: 6px;
      text-align: center;
    }

    table tbody tr:nth-child(odd) {
      background-color: #eaeaea;
    }
  }
}