@import url("~leaflet/dist/leaflet.css");

.leaflet-container {
  width: 100%;
  height: calc(100vh - 82px);
}

.app-layout.dark .leaflet-tiles {
    filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.app-layout.dark .header {
    background-color: #1E1E1E;
    color: #fff;
}

.app-layout.dark .header .toggle-left-sidebar span {
    background: #fff;
}

.app-layout.dark .left-sidebar {
    background-color: #1E1E1E;
    color: #fff;
}

.app-content {
    display: grid;
    grid-template-columns: 210px 1fr;
    transition: all ease-in-out .3s;
}

.app-content.toggled {
    grid-template-columns: 0px 1fr;
    transition: all ease-in-out .3s;
}